{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    {% tailwind_css %}
</head>
<body>
    <main class="mt-[1rem] ">
    
        <div class="heading">
            <h1 class="main-heading text-[2rem] text-center text-[#1b1b1b] font-semibold 
                 sm:text-[2.6rem] ">Welcome to ShiftRides </h1>
        </div>
    
    
        <section class="w-[80vw] bg-white mx-auto  rounded-xl mb-10 sm:my-10  ">
    
            <div class="login-sec flex flex-col justify-center items-center max-w-[21rem] sm:mx-auto ">
    
                <div class="login-txt w-full  text-[1.3rem] font-medium  flex justify-center items-center">
                    <h2>Sign up</h2>
                </div>
                {% if error %}
                <span class="text-red-500">{{ error }}</span>
                {% else %}
                <span></span>
                {% endif %}
    
                <!-- this form for sign up page -->
    
                <div class="login-email w-full  ">
                    <form method="POST">
                        {% csrf_token %}
    
                        <!-- email for sign up -->
    
                        <input type="text" name="username" id="username" placeholder="username" required
                            class=" w-full my-4  bg-white rounded-lg ">
    
                        <br>
    
                        <!-- password for signup -->
    
                        <input type="password" name="password1" id="password1" placeholder="Password" required
                            class=" w-full my-4  bg-white rounded-lg  "> <br>
                        <input type="password" name="password2" id="password2" placeholder="Confirm Password" required
                            class=" w-full my-4  bg-white rounded-lg  ">
    
                        <br>
    
                        <!-- login link  -->
    
                        <div class="text-center w-full">
    
                            Already have an account?<p class="text-[#9978d2] "><a href="{% url 'login' %}">Login</a></p>
                        </div>
    
                        <br>
    
                        <!-- submit button -->
    
                        <button type="submit"
                            class="w-full h-8 rounded-sm  drop-shadow-sm mb-8 text-white bg-[#9960fc]">Sign up</button>
    
                        <br>
    
    
    
    
                    </form>
    
                </div>
                <!-- <div class="h-10rem mt-3 relative w-full max-w-[21rem] ">
                    <hr class="my-5">
                    <div class="or bg-white  w-[5rem] absolute top-[10px] right-[40%] text-center">
                        <span class=" ">Or</span>
    
                    </div>
                </div> -->
    
                <!-- the design is add for Facebook and google signup  -->
    
                <!-- <div class="text-center w-full max-w-[21rem]">
    
                    <button class="w-full h-10 rounded-sm mb-4 text-white bg-[#4070F4]  "> Login with Facebook</button>
                    <br>
                    <button class="w-full h-10 rounded-sm text-[#0e0e0e] bg-white border-gray-400 border-2"> Login with
                        Google</button>
    
                </div> -->
            </div>
        </section>
    </main>
</body>
</html>